---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Linux
BreakAfterReturnType: All
PointerAlignment: Right
AlignAfterOpenBracket: DontAlign
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
Cpp11BracedListStyle: false
BreakStringLiterals: false
AlignEscapedNewlines: Left
SortIncludes: false
...
